@use '../assets/variables.scss';

.preloadWrapper {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.preload {
    display: block;
    width: 136px;
    height: 136px;
    background-image: url(../assets/img/Loader.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}